/* Made with love by Mutiullah Samim*/

@import url("https://fonts.googleapis.com/css?family=Numans");

.login {
  height: 100vh;
  align-content: center;
  background-image: url("../../../assets/bg/bg_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Numans", sans-serif;
}

.login__card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  border: none !important;
}

.login__card,
.login__card__header,
.login__card__footer {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-color: #7b7b7b;
}

.card-header h3 {
  color: white;
}

.social__icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social__icon span:hover {
  color: white;
  cursor: pointer;
}

.social__icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.login__input__group__prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

.login__input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login__btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login__btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
